.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login--title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login--form {
    width: 300px;
  }
  
  .login--input {
    margin-bottom: 10px;
  }
  
  .login--buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .login--buttons button {
    width: 50%;
    padding: 10px;
    background-color: #126ECE;
    color: #fff;
    cursor: pointer;
    margin: 10px;
  }
  
  .login--buttons button:hover {
    background-color: #000000;
  }
  